img {
  float: left;
  border: 1px solid black;
  margin-right: 15px;
  box-shadow: 2px 3px;
}

.blockquote {
  float: right;
  width: 25%;
}

.quote {
  font-size: 12px;
}

.d3 {
  border style: none;
}

.project {
  font-size: 16px;
  font-style: italic;
  margin-right: 5px;
}
